h1{
  background-image: url(/Users/shadow/Documents/projects/Dasmoto/resources/brick_pattern.jpg);
  font-family: Helvetica;
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
}

h3{
  font-weight: bold;
}

#brush{
  font-family: Helvetica;
  font-weight: bold;
  color: blue;
}

#frame{
  font-family: Helvetica;
  font-weight: bold;
  color: blue;
}

#paint_tube{
  font-family: Helvetica;
  font-weight: bold;
  color: blue;
}

#brushes h2{
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
  background-color: mediumspringgreen;
}

#frames h2{
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
  background-color: lightcoral;
}

#paint h2{
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
  background-color: skyblue;
}
